p{
    font-weight: lighter;
    font-family: Open Sans,sans-serif;
}
.EligibilityRequirements-top-div{
    padding-top: 40px;
    padding-bottom: 40px;
}
.WhyStudyUsa-p{
    font-size: 20px;
}
.WhyStudyInUsa-style{
    border-top-width:0px ;
    max-width: 12rem;
    margin: auto;
    height: 0.3rem;
    background-color: rgb(243, 102, 56);
}

h6{
    font-weight: 600;
    padding-top: 6px;
    /* text-align: center; */
    font-size: 34px;
    align-items: center;
}

@media only screen and (max-width: 426px) {
    h6{
        font-size: 26px;
    }
    .WhyStudyUsa-p{
        font-size: 16px;
    }
    #WhyStudyUsaid1 img{
        width: 100%;
        
    }
  }