.ExpertsDoWhat-mainDiv{
    text-align: center;
    padding: 0px 24px 30px 24px;

}

.EligibilityRequirements-top-div{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hr-style{
    max-width: 4rem;
    margin: auto;
    height: 0.3rem;
    background-color: rgb(243, 102, 56);
}

h6{
    padding-top: 6px;
    /* text-align: center; */
    font-size: 34px;
    align-items: center;
}


.WhyChooseUsa-Text p,li{
    font-size: 16px;

}
#Button-ExpertsDoWhat{
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    #h6-ExpertsDoWhat{
        padding-top: 6px;
        font-size: 20px;
        align-items: center;
    }
 
   
  }