*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.main-div{
    text-align: center;
    padding: 0px 24px;
}
.EligibilityRequirements-top-div{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hr-style{
    max-width: 4rem;
    margin: auto;
    height: 0.3rem;
    background-color: rgb(243, 102, 56);
}

h6{
    padding-top: 6px;
    /* text-align: center; */
    font-size: 34px;
    align-items: center;
}

/* Started bottom boxes */
.EligibilityRequirements-bottom-div{
   
    display:flex;
    width: 100%;
    gap: 20px;
    
}

.box{
    flex: 1;
    padding: 16px;

}
.first-box-top{
    font-size: 18px;
    padding-bottom: 16px;
}
.first-box-top-list{
    font-size: 14px;
    text-align: left;
}
.first-box-bottom-grid{
    grid-template-rows: 30px;
    justify-content: space-around;
}