.Footer-main-Div{
    color: white;
    background-color: #323232;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   padding: 50px;
}
.bhu{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
   
}
.About,.Countiries,.Universities,.Exam,.Contact{
    flex: 1;
    margin-right: 50px;
    min-width: 180px;
    min-height: 200px;
    
}



.footer-div{
    background-color: #ffc107;
    padding: 20px;

}
.footer-bottom{
    display: flex;
    flex-direction: row;

    /* here for responsive change to colum */
}

.footer-bottom-right li{
    display: inline;
    padding: 20px;
}
.Contact li span{
    color:#ffc107 ;
}
.footer-bottom-right{
    border: 2px solid black;
    
}
.image-logo{
    max-width: 250px;
    ma-height: 70px;
}

