p{
    font-weight: lighter;
    text-align: center;
}
.WhyChooseUsa-main-div{
    /* border: 3px black solid; */
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    text-align: center;
}
.EligibilityRequirements-top-div{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hr-style{
    max-width: 4rem;
    margin: auto;
    height: 0.3rem;
    background-color: rgb(243, 102, 56);
}

#WhyChooseUsa h6{
    padding-top: 6px;
    /* text-align: center; */
    font-size: 34px;
    align-items: center;
}

.WhyChooseUsa-Text{
    font-size: 14.4px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (max-width: 426px) {
    #WhyChooseUsa{
        font-size: 20px;
    }
    .WhyChooseUsa-Text{
        font-size: 14.4px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
       
    }
  }